<div id='container'>

  <% @questions.each do |question| %>
    <div class="question" id='<%= "#{question.id}" %>'>
      <%= question.vote_count %>
      <%=link_to "#{question.title}", question_path(question.id) %>
      <br>
    </div>
  <% end %>


</div>

