<div id='questions'>

<table class="q-display-table">
<!--   <tr>
    <th class="name"></th>
    <th class="destination">Destination</th>
    <th class="duration">Duration</th>
    <th class="completed">Completed</th>
    <th class="complete">Mark Complete/Incomplete</th>
    <th class="delete">Delete Trip</th>
  </tr> -->
    <% @questions.each do |question| %>
  <tr>
    <td class="votes"><%=question.vote_count %><br>votes</td>
    <td class="answers"><%=question.answers %><br>answers</td>
    <td class="duration"><%=link_to "#{question.title}", question_path(question.id) %><br>
      <%question.tags.each do |tag|%>
      <%=tag.title%>
      <%end%></td>
  </tr>
    <% end %>
</table>


</div>

