<div class="question page">

	<%render 'questions/question' %>
  <% @question.comments.each do |comment| %>
    <%render 'comment/show'%>
  <%end%>
  <% @question.answers.each do |answer|%>
    <%render 'answer/show'%>
    <% answer.comments.each do |comment|%>
      <%render 'comment/show'%>
    <%end%>
  <%end%>
  <% render 'answers/new' %>

</div>
