<div class="sign-up-user-page">
  <h1>Sign Up for an Account</h1>

  <div class="errors-partial">
    <% render "shared/errors" %>
  </div>

  <div class="sign-up-form">
    <%= form_for :user, url: users_path do |f| %>
      <p>
        <%= f.label :username %><br>
        <%= f.text_field :username %>
      </p>

      <p>
        <%= f.label :password %><br>
        <%= f.password_field :password %>
      </p>

      <p>
        <%= f.submit "Sign Up" %>
      </p>
    <% end %>
  </div>
</div>
