<h2>Answer</h2>
<%= button_to '+', question_answer_votes_path(@question.id, @answer.id), params: {vote_value: 1}  %>
<%= 0 %>
<%= button_to '-', question_answer_votes_path(@question.id, @answer.id), params: {vote_value: -1}  %>
<%= @answer.content %><br>
