<div class="add-new-answer">
  <h1>Add a New Answer</h1>

  <div class="errors-partial">
    <% render "/shared/errors" %>
  </div>

  <div class="new-answer-form">
    <%= form_for :answer, url: question_answer_path do |f| %>

      <p>
        <%= f.label :content %><br>
        <%= f.text_area :content %>
      </p>

      <p>
        <%= f.submit "Submit Your Answer" %>
      </p>
    <% end %>
  </div>
</div>
